SHRINKRAY_PORT=8787
SHRINKRAY_UID=1000
SHRINKRAY_GID=1000
SHRINKRAY_MEDIA_GID=1000
SHRINKRAY_STATE_DIR=/var/lib/shrinkray
SHRINKRAY_MOVIES_PATH=/media/movies
SHRINKRAY_TV_PATH=/media/tv
SHRINKRAY_TAILSCALE_HTTPS_PORT=8443
